.menu-list {
    min-width: 224px;
    min-height: 186px;
    margin-top: -8px;

    .menu-item {
        margin-left: 0;
        // font-weight: 600;
        font-size: 1.6rem;
        font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
        color: rgb(35 36 43);
    }
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
    
    max-height: min(100vh - 96px - 60px, 734px);
    // max-height: min(100vh - 96px - 160px, 700px);
}

.menu-item {
    display: flex;
    justify-content: flex-start;
    border-radius: 0;
    width: 100%;
    min-height: 42px;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

// header
.header {
    position: relative;
    height: 50px;
    flex-shrink: 0;
}

.back-btn {
    width: 50px;
    height: 100%;
    // margin-left: 26px;
    background-color: transparent;
    cursor: pointer;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
